
.g-bd {
    display: block;
    position: relative;
    margin: 125px auto 89px;
    width: 1100px;
    min-height: 680px;
    background-color: #f9f9f9;
}
.f-cf {
    zoom: 1;
}
.u-op {
    position: relative;
    padding-right: 240px;
}
.u-op {
    display: block;
    overflow: hidden;
}
.u-op .m-title {
    display: block;
    height: 40px;
    padding: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    background: #fff;
}
.u-op .m-op-box {
    min-height: 440px;
    padding: 60px 0;
    background: #fff;
}
.m-center {
    width: 340px;
    margin: 0 auto;
}
.m-vfAccount {
    width: 340px;
    margin: 0 auto;
}
.u-tip {
    line-height: 20px;
    padding-bottom: 9px;
    font-size: 14px;
}
.m-suggest {
    position: relative;
    z-index: 89;
}
.m-op-box .u-ipt {
    width: 340px;
}
.m-suggest .u-ipt {
    display: block;
    width: 340px;
    height: 67px;
}
.u-ipt {
    height: 69px;
}
.u-ipt, .u-ipt .ipt_wrap {
    display: inline-block;
    position: relative;
}
.u-ipt {
    width: 342px;
    height: 65px;
    text-align: left;
    zoom: 1;
}
.m-suggest .u-ipt .ipt_wrap {
    display: block;
    height: 42px;
    overflow: hidden;
}
.m-center .u-ipt .ipt_input, .m-center .u-ipt .ipt_input_large {
    line-height: 1.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m-op-box .u-ipt .ipt_input_large {
    width: 340px;
}
.m-suggest .u-ipt .ipt_input_large {
    height: 42px;
    width: 340px;
}
.m-suggest .u-ipt .ipt_input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.u-ipt .ipt_input, .u-ipt .ipt_input_large {
    padding-right: 38px;
}
.u-ipt .ipt_input {
    width: 328px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 12px;
}
input {
    width: 225px;
    height: 30px;
    padding-left: 0;
    color: #333;
    border: none;
    font-size: 14px;
    line-height: 30px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-appearance: none;
}
input, keygen, legend, select, textarea {
    font: 10.52632px Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,\5FAE\8F6F\96C5\9ED1,Tahoma,\\5B8B\4F53,helvetica,Hiragino Sans GB;
    color: #333;
    outline: 0;
}
.u-ipt .ipt_wrap .ipt_extend {
    top: 11px;
}
.u-ipt .ipt_extend {
    position: absolute;
    top: 12px;
    right: 2px;
    background: #fff;
}
.u-ipt .ipt_extend>i {
    margin-right: 12px;
    cursor: pointer;
}
.i-icon-delete {
    background-position: 0 -77px;
    width: 20px;
    height: 20px;
}
.i-icon {
    display: inline-block;
    background-repeat: no-repeat;
}
.u-ipt .ipt_tip {
    font-size: 12px;
    line-height: 22px;
    min-height: 24px;
    text-align: left;
    color: #c4a583;
    word-wrap: break-word;
    word-break: break-all;
}
.m-suggest .ipt_tip-success {
    display: none;
}
.u-btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.u-btn {
    margin-top: 25px;
}
#app .u-btn, .u-btn {
    display: block;
}

.verify_btn_{
    width: 30%;
    height: 29px;
    line-height: 29px;
    background-color: #81bc9b;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    outline: 0;
    border: 0;
    cursor: pointer;
}