*{
    margin: 0;
    padding: 0;
}
#wrap {
    height: 719px;
    width: 100;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
#wrap .logGet {
    height: 408px;
    width: 368px;
    position: absolute;
    background-color: #FFFFFF;
    top: 20%;
    right: 15%;
}
.logC a button {
    width: 100%;
    height: 45px;
    background-color: #ee7700;
    border: none;
    color: white;
    font-size: 18px;
}
.logGet .logD.logDtip .p1 {
    display: inline-block;
    font-size: 28px;
    margin-top: 30px;
    width: 86%;
}
#wrap .logGet .logD.logDtip {
    width: 86%;
    border-bottom: 1px solid #ee7700;
    margin-bottom: 60px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}
.logGet .lgD img {
    position: absolute;
    top: 12px;
    left: 8px;
}
.logGet .lgD input {
    width: 100%;
    height: 42px;
    text-indent: 2.5rem;
}
#wrap .logGet .lgD {
    width: 86%;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
#wrap .logGet .logC {
    width: 86%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.coursename1 {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
}
.container1{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
}
.u-liveCard-container {
    left: 0px;
    top: 0px;
    width: auto;
    height: 150px;
    z-index: 0;
    border-radius: 0px;
    margin: auto;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
    background-color: rgba(176, 208, 174, 0.22);
}
.u-liveCard-container_a1 {
    display: inline-block;
    width: 100%;
    height: 270px;
}
.u-liveCard-school {
    left: 50px;
    top: 80px;
    width: 216px;
    height: 24px;
    z-index: 1;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
    line-height: 24px;
}
.u-liveCard-teacher {
    left: 50px;
    top: 50px;
    width: 216px;
    height: 24px;
    z-index: 1;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    position: relative;
    line-height: 24px;
}

#carousel{
    position: relative;
    left: 200px;
}

