*{
    margin: 0;
    padding: 0;
}
#wrap {
    height: 719px;
    width: 100;
    position: relative;
}
#wrap .logGet {
    height: 408px;
    width: 368px;
    position: absolute;
    background-color: #FFFFFF;
    top: 20%;
    right: 15%;
}
.logC a button {
    width: 100%;
    height: 45px;
    background-color: #ee7700;
    border: none;
    color: white;
    font-size: 18px;
}
.logGet .logD.logDtip .p1 {
    display: inline-block;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:50%;

}
#wrap .logGet .logD.logDtip {
    width: 86%;
    border-bottom: 1px solid #ee7700;
    margin-bottom: 60px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}
.logGet .lgD img {
    position: absolute;
    top: 12px;
    left: 8px;
}
.logGet .lgD input {
    width: 100%;
    height: 42px;
    text-indent: 2.5rem;
}
#wrap .logGet .lgD {
    width: 86%;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
#wrap .logGet .logC {
    width: 86%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
#foot {
    width: 100;
    height: 126px;
    background-color: #CC9933;
    position: relative;
}
.title {

    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
    font-size: 36px;
    height: 40px;
    width: 30%;
}

.copyright {

    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
    height: 60px;
    width: 40%;
    text-align:center;
}


#foot .copyright .img {
    width: 100%;
    height: 24px;
    position: relative;
}
.copyright .img .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;

    margin-right: 5px;
}

.copyright .img .icon1 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;

    margin-right: 5px;
}
.copyright .img .icon2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;



    margin-right: 5px;
}
#foot .copyright p {
    height: 24px;
    width: 100%;
}
#head {
    height: 120px;
    width: 100;
    background-color: #66CCCC;
    text-align: center;
    position: relative;
}
#foot {
    width: 100;
    height: 126px;
    background-color: #CC9933;
    position: relative;
}
.p2 {
    display: inline-block;
    font-size: 38px;

    margin-left: 700px;
    margin-bottom: 20px;
    width:50%;

}
.p3 {
    display: inline-block;
    font-size: 38px;

    margin-left: 700px;
    margin-bottom: 10px;
    width:50%;

}

.Img0{
    margin-left: 50px;
}
.course0{
    margin-left: 60px;
}
.Img1{
    margin-left: 400px;
    margin-top: -320px;
}
.course1{
    margin-left: 500px;
}
.Img2{
    margin-left: 750px;
    margin-top: -320px;
}
.course2{
    margin-left: 850px;
}
.Img3{
    margin-left: 1150px;
    margin-top: -320px;
}
.course3{
    margin-left: 1300px;
}
.Img4{
    margin-left: 50px;
}
.course4{
    margin-left: 60px;
}
.Img5{
    margin-left: 400px;
    margin-top: -320px;
}
.course5{
    margin-left: 500px;
}
.Img6{
    margin-left: 750px;
    margin-top: -320px;
}
.course6{
    margin-left: 850px;
}
.Img7{
    margin-left: 1150px;
    margin-top: -320px;
}
.course7{
    margin-left: 1300px;
}