.m-regForm {
    width: 830px;
    margin: 0 auto;
    display: block;
    flex-direction: column;
    justify-content: center;
}
.textLine {
    width: 495px;
    height: 82px;
    line-height: 66px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #c2c9d2;
    margin: 0 auto;
    position: relative;
    left: 26px;
}
.textLine span {
    display: inline-block;
    text-indent: 2px;
    vertical-align: middle;
}
.textLine .number {
    font-size: 20px;
    color: #afb6c0;
}
.textLine .font12 {
    font-size: 12px;
    vertical-align: top;
    margin-left: 2px;
}
.textLine .sep {
    width: 1px;
    height: 15px;
    display: inline-block;
    background: #d5deee;
    margin-left: 8px;
    margin-right: 10px;
}
.m-regForm .regBox {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 9px 0 rgba(92,128,255,0.17);
    padding-bottom: 40px;
    position: relative;
    line-height: normal;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    top: 5px;
}
.m-regForm .u-borderTop {
    margin-bottom: 50px;
}
.u-borderTop-new {
    background: url(/image/reg/lineBg_new.jpg) center 0 no-repeat;
}
.u-borderTop {
    height: 5px;
    width: 100%;
    background: url(/image/reg/lineBg.jpg) center 0 no-repeat;
    background-size: 100% 100%;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.m-regForm .regBox .content {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.m-regForm .u-input:first-child {
    margin-top: 0;
}
.m-regForm .u-input {
    margin-top: 45px;
}
.u-input {
    position: relative;
    width: 100%;
}
.u-input label {
    width: 32%;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    color: #738299;
    padding-right: 16px;
    margin-bottom: 4px;
}
.u-input>* {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}
.u-input .inputWrapper {
    width: 36%;
    position: relative;
}
.u-input>* {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}
.u-input input[type="text"], .u-input input[type="password"] {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding-left: 10px;
}
.u-input .button:hover {
    border-color: #4f9fff;
    background-color: #4f9fff;
    color: #fff;
}
.u-input .button {
    text-align: center;
    width: 102px;
    height: 28px;
    line-height: 26px;
    border: 1px solid #a7cfff;
    background-color: #fff;
    color: #4e9fff;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -14px;
}
#siteTypeLine {
    /*margin-left: -9px;*/
}
.m-regForm .bottomBar {
    width: 100%;
    margin: 0 auto;
    margin-top: 26px;
    position: relative;
    text-align: center;
}
.m-regForm .bottomBar .msg {
    color: #fa5b5b;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
}
.m-regForm .bottomBar .u-bigBtn {
    width: 20%;
}
.u-bigBtn {
    width: 100%;
    height: 54px;
    line-height: 54px;
    background-color: #0075ff;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    outline: 0;
    border: 0;
    cursor: pointer;
}