.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff;
    height: 80px;
    padding: 20px 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
}
.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}
.row .column.column-40 {
    flex: 0 0 40%;
    max-width: 40%;
}
.navbar .col-search {
    position: relative;
}
.navbar .col-search .search-btn {
    font-size: 22px;
    color: #888;
    position: absolute;
    top: 6px;
    right: 42px;
}

.fa {
    font-size: 20px;
    color: #35cebe;
}
.navbar input[type=text] {
    margin-top: -.6rem;
    margin-left: -1rem;
    padding-left: 2rem;
    background: #f9f9f9;
    border-radius: 499rem;
    border: none;
    height: 50px;
}
.user-section {
    margin-top: -8px;
    margin-right: 40px;
}
.user-section a {
    float: right;
}
a {
    color: #337ab7;
    text-decoration: none;
}
element.style {
    float: left;
    position: absolute;
    top: 20px;
    right: 150px;
}
.user-section .username {
    color: #333;
    float: right;
    text-align: left;
}
.user-section .username h4 {
    margin-bottom: -.5rem;
}
.m-setBox .boxTab {
    border-bottom: 1px solid #eaeaea;
    height: 43px;
    background-color: #fafafa;
}
.f-cb, .f-cbli li {
    zoom: 1;
}
.m-setBox .boxTab .current {
    color: #fff;
    background-color: #35cebe;
}
.m-setBox .boxTab a {
    width: 120px;
    height: 44px;
    line-height: 44px;
    display: block;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 15px;
    float: left;
    color: #444;
    font-weight: bold;
}
.m-infoEdit .header {
    height: 40px;
    margin-top: 5px;
}
.m-infoEdit .header .fk {
    line-height: 40px;
    margin-left: 20px;
    font-size: 12px;
    font-family: '宋体';
    color: #ccc;
}
.f-fl {
    float: left;
}
.m-infoEdit .editBox {
    padding: 20px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}
.m-infoEdit .editBox .title {
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    color: #666;
    padding: 0 20px 0 0;
    font-family: '微软雅黑';
}
.f-sign {
    font-weight: bold;
    color: #cc3333;
    padding-right: 5px;
    vertical-align: middle;
}
td {
    padding: 0;
    margin: 0;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.m-infoEdit .editBox .eBcon {
    width: 568px;
    margin: 0 0 30px;
}
.u-insug .area {
    padding: 5px;
    position: relative;
    zoom: 1;
    height: 21px;
    background: #FAFAFA;
    border: 1px solid #DFDFDF;
    box-shadow: inset 1px 1px 2px #DFDFDF;
}
.auto-1561784694475 div {
    text-align: left;
}
.u-insug input {
    height: 18px;
    line-height: 23px;
    float: left;
    background: #FAFAFA;
    color: #333;
    font-size: 12px;
    outline: none;
    border: 0;
    padding: 0;
    width: 100%;
}
input {
    vertical-align: middle;
    margin: 0px;
}
.u-insug label {
    position: absolute;
    top: 3px;
    left: 8px;
    color: #999;
    font-size: 12px;
    cursor: text;
}
.auto-1561784694475 .infobox {
    float: left;
}
.auto-1561784694475 div {
    text-align: left;
}
.auto-1561784694277 {
    padding: 5px 0 5px 15px;
    font-size: 12px;
    line-height: 16px;
}
.auto-1561784694277 .warningbox {
    color: #cc3333;
}
.auto-1561784694475 div {
    text-align: left;
}
.auto-1561784694277 .warningbox .right {
    float: left;
    background: url(//s.stu.126.net/res/images/ui/common.png?2c88f76b988838114d44dc3ba8c13781) no-repeat -20px 0;
    height: 20px;
    width: 20px;
}
.auto-1561784694277 .warningbox .warning {
    float: left;
    line-height: 22px;
}
.auto-1561784694277 .loadingbox {
    color: #999;
}
.auto-1561784694475 div {
    text-align: left;
}
.auto-1561784694277 .loadingbox .icon {
    float: left;
    background: url(//s.stu.126.net/res/images/ui/loading_circle.gif?8ae1afcd44a2a3ea3c8f86bc74702b05) no-repeat 0 0;
    height: 16px;
    width: 20px;
}
.auto-1561784694277 .loadingbox .loading {
    float: left;
    line-height: 22px;
}
.m-infoEdit .editBox .title {
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    color: #666;
    padding: 0 20px 0 0;
    font-family: '微软雅黑';
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.m-infoEdit .editBox .eBcon {
    width: 568px;
    margin: 0 0 30px;
}
.auto-1561784694479 .imgbox {
    float: left;
    width: 120px;
    height: 120px;
    border: 1px solid #dfdfdf;
}
.auto-1561784694479 .img {
    width: 100%;
    height: 100%;
}
.auto-1561784694479 .infobox {
    float: left;
    margin-left: 10px;
}
.auto-1561784694479 div {
    text-align: left;
}
.auto-1561784694479 .infobox .info {
    color: #999;
    font-size: 12px;
}
.auto-1561784694479 .infobox .opt {
    margin-top: 10px;
}
.auto-1561784694479 .infobox .opt .uploadbox {
    float: left;
}
.u-upd-img-btn {
    position: relative;
}
.u-upd-img-btn .upbtn {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 83px;
    height: 34px;
    line-height: 33px;
    background-color: #35cebe;
}
.u-upd-img-btn .flashbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 83px;
    height: 34px;
}
Attributesobject#_1561784694817 {
    width: 100%;
    height: 100%;
}
area, param {
    display: none;
}
embed {
    width: 100%;
    height: 100%;
}
.auto-1561784694277 {
    padding: 5px 0 5px 15px;
    font-size: 12px;
    line-height: 16px;
}
.auto-1561784694277 .warningbox {
    color: #cc3333;
}
.auto-1561784694277 .warningbox .right {
    float: left;
    background: url(//s.stu.126.net/res/images/ui/common.png?2c88f76b988838114d44dc3ba8c13781) no-repeat -20px 0;
    height: 20px;
    width: 20px;
}
.auto-1561784694277 .warningbox .warning {
    float: left;
    line-height: 22px;
}
.auto-1561784694277 .loadingbox {
    color: #999;
}
.auto-1561784694277 .loadingbox .icon {
    float: left;
    background: url(//s.stu.126.net/res/images/ui/loading_circle.gif?8ae1afcd44a2a3ea3c8f86bc74702b05) no-repeat 0 0;
    height: 16px;
    width: 20px;
}
.m-infoEdit .editBox .title {
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    color: #666;
    padding: 0 20px 0 0;
    font-family: '微软雅黑';
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.m-infoEdit .editBox .eBcon {
    width: 568px;
    margin: 0 0 30px;
}
.m-infoEdit .editBox .sex {
    padding: 8px 0 0;
}
body, textarea, select, input {
    font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
    font-size: 14px;
    color: #444;
    outline: none;
    border: 0;
}
input:matches([type="radio"], [type="checkbox"]) {
    margin-top: 3px;
    margin-right: 2px;
    padding-top: initial;
    padding-right: initial;
    padding-bottom: initial;
    padding-left: initial;
    background-color: initial;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: initial;
}
input[type="radio"] {
    -webkit-appearance: radio;
    box-sizing: border-box;
}
.m-infoEdit .editBox .sex label {
    font-size: 13px;
    margin: 0 14px 0 4px;
}
label {
    cursor: default;
}
.f-dn {
    display: none;
}
.auto-1561784694260 .inputtxt {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 23px;
    background: transparent;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    position: relative;
    top:-10px;
}
.auto-1561784694260 .inputhint {
    font-size: 12px;
    color: #ccc;
    position: absolute;
    top: 10px;
    left: 10px;
}
.auto-1561784694477 .inputbox .tips {
    color: #ccc;
    font-size: 12px;
    line-height: 26px;
}
.auto-1561784694277 .warningbox .warn {
    float: left;
    background: url(//s.stu.126.net/res/images/ui/common.png?2c88f76b988838114d44dc3ba8c13781) no-repeat 0 0;
    height: 20px;
    width: 20px;
}
.auto-1561784694277 .warningbox .warning {
    float: left;
    line-height: 22px;
}
.auto-1561784694277 .loadingbox {
    color: #999;
}
.auto-1561784694277 .loadingbox .icon {
    float: left;
    background: url(//s.stu.126.net/res/images/ui/loading_circle.gif?8ae1afcd44a2a3ea3c8f86bc74702b05) no-repeat 0 0;
    height: 16px;
    width: 20px;
}
.auto-1561784694277 .loadingbox .loading {
    float: left;
    line-height: 22px;
}
.b-10, .b-20, .b-30, .b-15, .b-40, .b-50, .b-70 {
    clear: both;
    height: 10px;
    overflow: hidden;
    display: block;
}
.auto-1561784694260 {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: inset 1px 1px 2px #DFDFDF;
    -moz-box-shadow: inset 1px 1px 2px #dfdfdf;
    box-shadow: inset 1px 1px 2px #DFDFDF;
}
.auto-1561784694260 .inputtxt {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 23px;
    background: transparent;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}
.auto-1561784694260 .inputhint {
    font-size: 12px;
    color: #ccc;
    position: absolute;
    top: 2px;
    left: 10px;
}
.m-infoEdit .editBox .tip {
    line-height: 20px;
    margin: 5px 0 20px;
}
.m-infoEdit .editBox .accMail {
    margin-bottom: 25px;
}
.m-infoEdit .editBox .accMail .add .btn {
    display: block;
    width: 62px;
    width: 62px;
    text-decoration: none;
    background-position: 52px 0px;
    font-size: 12px;
    margin: 0 15px 0 20px;
}
.m-setBox .btn {
    display: block;
    width: 88px;
    width: 88px;
    text-decoration: none;
    background-position: 78px -300px;
    border: 0;
    margin: 0 37px 0 0;
    font-weight: bold;
    float: left;
}
.f-fl {
    float: left;
}
.m-infoEdit .editBox .accMail .add .btn span {
    display: block;
    text-align: center;
    padding-left: 10px;
    width: 42px;
    font-size: 12px;
    height: 34px;
    line-height: 33px;
    color: #fff;
    background-position: -40px 0px;
}
.m-infoEdit .editBox .accMail .add .cancel {
    font-size: 12px;
    color: #35cebe;
    margin: 10px 15px 0 0;
}
.m-infoEdit .editBox .accMail .add .m-feedbackinfo {
    padding-left: 0;
}
.auto-1561784694277 {
    padding: 5px 0 5px 15px;
    font-size: 12px;
    line-height: 16px;
}
.auto-1561784694277 .loadingbox .icon {
    float: left;
    background: url(//s.stu.126.net/res/images/ui/loading_circle.gif?8ae1afcd44a2a3ea3c8f86bc74702b05) no-repeat 0 0;
    height: 16px;
    width: 20px;
}
.auto-1561784694277 .loadingbox .loading {
    float: left;
    line-height: 22px;
}
.m-infoEdit .editBox .accMail .verify {
    line-height: 34px;
}
.m-infoEdit .editBox .accMail .verify .mailN {
    margin-right: 15px;
}
.m-infoEdit .editBox .accMail .verify .btn1 {
    display: block;
    width: 100px;
    width: 100px;
    text-decoration: none;
    background-position: 90px 0px;
}
.m-infoEdit .editBox .accMail .verify .btn {
    font-size: 12px;
    margin: 0;
}
.m-infoEdit .editBox .accMail .verify .btn1 span {
    display: block;
    text-align: center;
    padding-left: 10px;
    width: 80px;
    font-size: 12px;
    height: 34px;
    line-height: 33px;
    color: #fff;
    background-position: -40px 0px;
}
.m-infoEdit .editBox .accMail .verify .change {
    margin-left: 5px;
    color: #81bc9b;
    font-size: 12px;
}
.m-infoEdit .editBox .accMail .mailTxt {
    margin: 5px 0 0 0;
    font-size: 12px;
    color: #aaa;
}
.s-fc6 {
    color: #ccc;
}
.f-fs0 {
    font-size: 12px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.m-infoEdit .footer {
    height: 63px;
    border-top: 1px solid #eaeaea;
    background-color: #fafafa;
    padding: 20px 0 0 108px;
}
.m-infoEdit .footer .btn {
    display: block;
    width: 88px;
    width: 88px;
    text-decoration: none;
    background-position: 78px -300px;
    border: 0;
    margin: 0 37px 0 0;
    font-weight: bold;
    float: left;
    font-family: '微软雅黑';
    background-color: #35cebe;
}
.m-infoEdit .footer .btn span {
    font-size: 16px;
}
.m-infoEdit .footer .btn span {
    display: block;
    text-align: center;
    padding-left: 10px;
    width: 68px;
    font-size: 14px;
    height: 44px;
    line-height: 42px;
    color: #fff;
    background-position: -40px -300px;
}
input {
    vertical-align: middle;
    margin: 0px;
}
body, textarea, select, input {
    font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
    font-size: 14px;
    color: #444;
    outline: none;
    border: 0;
}

.j-input{
    border: 0.1rem solid #fff0 ;
}
.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff;
    height: 80px;
    padding: 20px 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05); }
.navbar a.site-title {
    color: #222;
    color: #35cebe;
    font-size: 2.3rem;
    font-weight: bold;
    display: block;
    margin: 0 20px 10px 20px; }
.navbar .col-search {
    position: relative; }
.navbar .col-search .search-btn {
    font-size: 22px;
    color: #888;
    position: absolute;
    top: 6px;
    right: 42px; }
.navbar .col-search .search-btn:hover {
    color: #333; }
.navbar input[type=text] {
    margin-top: -.6rem;
    margin-left: -1rem;
    padding-left: 2rem;
    background: #f9f9f9;
    border-radius: 499rem;
    border: none;
    height: 50px; }


.user-section {
    margin-top: -8px;
    margin-right: 40px; }
.user-section a {
    float: right; }
.user-section img {
    margin-right: 10px;
    float: left; }
.user-section .username {
    color: #333;
    float: right;
    text-align: left; }
.user-section .username h4 {
    margin-bottom: -.5rem; }
.user-section .username p {
    color: #888;
    font-size: .9em; }

#auto-id-1561784694518.j-input{
    border:0.1rem solid #eee0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a:hover {
    color: #35cebe;
}
.g-superflow, .g-flow {
    width: 1205px;
}
.g-doc, .g-wrap, .g-flow, .g-superflow, .g-all {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}




.king-content-wrap{float:left;width:100%}

.king-layout1-content{margin-left:216px}

.king-layout1-sidebar{float:left;margin-right:-100%}

.king-layout1-main{margin:auto;height:100%}

.king-layout-container{background:#eee;min-height:1000px}

.king-layout-main{margin:auto;padding:0 50px}

.king-layout-main .king-breadcrumb{color:rgba(0,0,0,0.43);font-size:12px;padding:12px 0px}

.king-layout-main .king-breadcrumb .king-breadcrumb-separator{margin:0 8px;color:#d9d9d9}

.king-layout-main .king-layout-content{padding:24px;background:#FFF}

.king-layout-main .king-layout-content.king-layout-has-slider{padding:24px 0px !important}

.king-flexible-setting{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:auto;-ms-flex:auto;flex:auto;overflow:auto;padding:0 !important;height:100%}

.mg50{margin:0 50px !important}

.king-flex-y{display:flex;flex-direction:column}

.king-flex-auto{flex:auto}

.king-layout-main .king-layout-content .king-content-scroll{padding:24px;background:#FFF}

.king-layout-main .king-layout-content.king-layout-has-slider .king-layout-slider{-webkit-box-flex:0;-webkit-flex:0 0 200px;-ms-flex:0 0 200px;flex:0 0 200px;-webkit-transition:all .3s ease;transition:all .3s ease;position:relative;border-right:1px solid #e9e9e9}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-inline{outline:none;margin-bottom:0;padding-left:0;list-style:none;color:rgba(0,0,0,0.65);background:#fff;line-height:46px}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-submenu-title{margin:0;padding:0px 16px 0 28px;position:relative;display:block;white-space:nowrap;font-size:12px;line-height:42px;height:42px;overflow:hidden;text-overflow:ellipsis;cursor:pointer;-webkit-transition:all .3s ease;transition:all .3s ease}

.king-layout-main .king-layout-content .show-items .up-down-icon{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transition:transform .3s ease;transition:transform .3s ease}

.king-layout-main .king-layout-content.king-layout-has-slider .submenu-icon{margin-right:8px}

.fr{float:right !important}

.king-layout-main .king-layout-content.king-layout-has-slider .up-down-icon{margin-top:15px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition:transform .3s ease;transition:transform .3s ease}

.king-layout-main .king-layout-content .show-items .up-down-icon{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transition:transform .3s ease;transition:transform .3s ease}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-inline.king-menu-item-list{border-right:0}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item-list{display:none}

.king-layout-main .king-layout-content.king-layout-has-slider .default-list{display:block}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item{padding-left:48px;font-size:12px;-webkit-transition:all .3s ease;transition:all .3s ease;cursor:pointer}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item.king-menu-item-selected{color:#4A9BFF;border-right:3px solid #4A9BFF;-webkit-transform:translateZ(0);transform:translateZ(0);background-color:#ecf6fd}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item:hover{color:#4A9BFF}

.king-layout-main .king-layout-content .king-slider-content{flex:1;-ms-flex:1;-moz-flex:1;-webkit-flex:1;padding:0px 24px;min-height:280px;color:rgba(0,0,0,0.65);font-size:14px}

.king-flex-y{display:flex;flex-direction:column}

@media screen and (min-width: 1200px){.king-block-content.king-block-content-narrow{padding-left:10%;padding-right:10%}}

.king-block.king-block-bordered{-webkit-box-shadow:none;box-shadow:none}

.king-block.king-block-themed .king-block-header.king-default .king-block-title{color:#666}

.king-gray-light{background-color:#f3f3f3}
a.king-gray-light:hover{background-color:#dadada}
.king-gray-lighter{background-color:#f9f9f9}
a.king-gray-lighter:hover{background-color:#e0e0e0}

.king-block.king-block-themed .king-block-header>.king-block-options>li>a,.king-block.king-block-themed .king-block-header button{color:#fff}

.fa{margin-right:14px;font-size:22px;vertical-align:sub}

.king-block-title{color:#666}

.king-block .king-block-content{margin:0 auto;padding:20px;max-width:100%;overflow-x:visible;-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out}

.form-group .help-block{margin-bottom:0}

.form-control{-webkit-border-radius:24px !important;-moz-border-radius:24px !important;border-radius:24px !important;margin-top:10px;border:none}

.text-primary{color:#5c90d2}.text-primary:hover{color:#5c90d2 !important}

.king-table7-demo3 .king-input-group{width:260px}

.input-group-addon{border-radius:0}

.input-group-addon{padding:5px 10px}