
/*.navbar{*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    width: 100%;*/
/*    background: #fff;*/
/*    height: 80px;*/
/*    padding: 20px 0;*/
/*    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);*/
/*}*/

.king-content-wrap{float:left;width:100%}

.king-layout1-content{margin-left:216px}

.king-layout1-sidebar{float:left;margin-right:-100%}

.king-layout1-main{margin:auto;height:100%}

.king-layout-container{background:#eee;min-height:700px}

.king-layout-main{margin:auto;padding:0 50px}

.king-layout-main .king-breadcrumb{color:rgba(0,0,0,0.43);font-size:12px;padding:12px 0px}

.king-layout-main .king-breadcrumb .king-breadcrumb-separator{margin:0 8px;color:#d9d9d9}

.king-layout-main .king-layout-content{padding:24px;background:#FFF}

.king-layout-main .king-layout-content.king-layout-has-slider{padding:24px 0px !important}

.king-flexible-setting{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:auto;-ms-flex:auto;flex:auto;overflow:auto;padding:0 !important;height:100%}

.mg50{margin:0 50px !important}

.king-flex-y{display:flex;flex-direction:column}

.king-flex-auto{flex:auto}

.king-layout-main .king-layout-content .king-content-scroll{padding:24px;background:#FFF}

.king-layout-main .king-layout-content.king-layout-has-slider .king-layout-slider{-webkit-box-flex:0;-webkit-flex:0 0 200px;-ms-flex:0 0 200px;flex:0 0 200px;-webkit-transition:all .3s ease;transition:all .3s ease;position:relative;border-right:1px solid #e9e9e9}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-inline{outline:none;margin-bottom:0;padding-left:0;list-style:none;color:rgba(0,0,0,0.65);background:#fff;line-height:46px}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-submenu-title{margin:0;padding:0px 16px 0 28px;position:relative;display:block;white-space:nowrap;font-size:12px;line-height:42px;height:42px;overflow:hidden;text-overflow:ellipsis;cursor:pointer;-webkit-transition:all .3s ease;transition:all .3s ease}

.king-layout-main .king-layout-content .show-items .up-down-icon{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transition:transform .3s ease;transition:transform .3s ease}

.king-layout-main .king-layout-content.king-layout-has-slider .submenu-icon{margin-right:8px}

.fr{float:right !important}

.king-layout-main .king-layout-content.king-layout-has-slider .up-down-icon{margin-top:15px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition:transform .3s ease;transition:transform .3s ease}

.king-layout-main .king-layout-content .show-items .up-down-icon{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transition:transform .3s ease;transition:transform .3s ease}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-inline.king-menu-item-list{border-right:0}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item-list{display:none}

.king-layout-main .king-layout-content.king-layout-has-slider .default-list{display:block}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item{padding-left:48px;font-size:12px;-webkit-transition:all .3s ease;transition:all .3s ease;cursor:pointer}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item.king-menu-item-selected{color:#4A9BFF;border-right:3px solid #4A9BFF;-webkit-transform:translateZ(0);transform:translateZ(0);background-color:#ecf6fd}

.king-layout-main .king-layout-content.king-layout-has-slider .king-menu-item:hover{color:#4A9BFF}

.king-layout-main .king-layout-content .king-slider-content{flex:1;-ms-flex:1;-moz-flex:1;-webkit-flex:1;padding:0px 24px;min-height:280px;color:rgba(0,0,0,0.65);font-size:14px}

.king-flex-y{display:flex;flex-direction:column}

@media screen and (min-width: 1200px){.king-block-content.king-block-content-narrow{padding-left:10%;padding-right:10%}}

.king-block.king-block-bordered{-webkit-box-shadow:none;box-shadow:none}

.king-block.king-block-themed .king-block-header.king-default .king-block-title{color:#666}

.king-gray-light{background-color:#f3f3f3}
a.king-gray-light:hover{background-color:#dadada}
.king-gray-lighter{background-color:#f9f9f9}
a.king-gray-lighter:hover{background-color:#e0e0e0}

.king-block.king-block-themed .king-block-header>.king-block-options>li>a,.king-block.king-block-themed .king-block-header button{color:#fff}

.fa{margin-right:14px;font-size:22px;vertical-align:sub}

.king-block-title{color:#666}

.king-block .king-block-content{margin:0 auto;padding:20px;max-width:100%;overflow-x:visible;-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out}

.form-group .help-block{margin-bottom:0}

.form-control{-webkit-border-radius:13px !important;-moz-border-radius:24px !important;border-radius:24px !important;margin-top:10px;border:none}

.text-primary{color:#5c90d2}.text-primary:hover{color:#5c90d2 !important}

.king-table7-demo3 .king-input-group{width:260px}

.input-group-addon{border-radius:0}

.input-group-addon{padding:5px 10px}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    top: -270px;
    border: 1px solid #ddd;
}

.bg-success1 {
    background-color: #62d2c7b0 !important;
    color: #fff !important;
}


.panel.panel-box-1 {
    display: table;
    table-layout: fixed;
    width: 70%;
    height: 100%;
    border: none;
    left: 90px;
}

.rating{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    ont-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: #ffee33;
}

