<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LC平台——最受学生欢迎的课程资源平台</title>
</head>
<body>
<div ng-controller="categoryCtrl" ng-init="initCategory()">
    <div class="c-status" style="position: relative; top: 80px;">
        <div class="wCenter">
            <div class="items">
                <div class="left">方向：</div>
                <div class="right">
                    <div data-name="type" data-id="0" class="item">本科</div>
                    <div data-name="type" data-id="1" class="item ">高职</div>
                </div>
            </div>
            <div class="items">
                <div class="left">课程：</div>
                <div class="right">
                    <div data-name="tag" data-id="" class="item">全部</div>
                    <div data-name="tag" data-id="4" class="item ">热门课程</div>
                    <div data-name="tag" data-id="3" class="item ">精品课程</div>
                    <div data-name="tag" data-id="2" class="item ">普通课程</div>
                </div>
            </div>

            <div class="items">
                <div class="left">类别：</div>
                <div class="right">
                    <div data-name="attribute" data-id="" class="item">全部</div>
                    <div data-name="attribute" data-id="0" class="item ">通识教育课</div>
                    <div data-name="attribute" data-id="1" class="item ">学科基础课</div>
                    <div data-name="attribute" data-id="2" class="item ">专业核心课</div>
                    <div data-name="attribute" data-id="3" class="item ">创新创业类课</div>
                    <div data-name="attribute" data-id="4" class="item ">公共课</div>
                    <div data-name="attribute" data-id="5" class="item ">大学生文化素质教育课</div>
                    <div data-name="attribute" data-id="6" class="item ">教师教育课程</div>
                    <div data-name="attribute" data-id="100" class="item ">其他</div>
                </div>
            </div>

            <div class="items">
                <div class="left">状态：</div>
                <div class="right">
                    <a  class="item " ng-click="setStatus(0)">全部</a>
                    <a  class="item "ng-click="setStatus(1)">即将开课</a>
                    <a  class="item" ng-click="setStatus(2)">正在开课</a>
                    <a  class="item " ng-click="setStatus(3)">已完结</a>
                </div>
            </div>

            <div class="items">
                <div class="left">学科：</div>
                <div class="right subject">
                    <a class="item" ng-click="setSubject(0)">全部</a>
                    <!-- <div class="more"><span class="trans"><i class="iconfont">&#xe68c;</i></span>更多</div> -->
                    <a class="item" ng-click="setSubject(1)">哲学</a>
                    <a class="item" ng-click="setSubject(2)">经济学</a>
                    <a class="item" ng-click="setSubject(3)">法学</a>
                    <a class="item" ng-click="setSubject(4)">教育学</a>
                    <a class="item" ng-click="setSubject(5)">文学</a>
                    <a class="item" ng-click="setSubject(6)">历史学</a>
                    <a class="item" ng-click="setSubject(7)">理学</a>
                    <a class="item" ng-click="setSubject(8)">工学</a>
                    <a class="item" ng-click="setSubject(9)">农学</a>
                    <a class="item" ng-click="setSubject(10)">医学</a>
                    <a class="item" ng-click="setSubject(11)">管理学</a>
                    <a class="item" ng-click="setSubject(12)">艺术学</a>
                    <a class="item" ng-click="setSubject(13)">体育</a>
                </div>
            </div>
        </div>
    </div>


    <!--挑选出的课程-->
    <div class="jk-uptodate" style="position: relative；top:20px">
        <ul style="width: 1500px">
            <li ng-repeat="x in selectLesson" class="uptodate">
                <a ng-click="goDetail_2(x)">
                    <div class="uptodate-img">
                        <img src="{{x.imgLink}}" alt="" style="width: 100%;">
                    </div>
                    <p class="uptodate-title">{{x.lessonName}}</p>
                    <p class="uptodate-info">
                        {{x.subject}}
                        <span>|</span>{{x.schoolName}}

                    </p>
                </a>
            </li>

        </ul>
    </div>

    <div style="text-align: center; position: relative;top:100px"  >
        <ul class="pagination">
            <li><a href ng-click="prevPage()">&laquo;</a></li>
            <li ng-repeat="page in pages">
                <a href ng-click="selectPage(page)" class="pageIndex">{{page}}</a>
            </li>
            <li><a href ng-click="nextPage()">&raquo;</a></li>
        </ul><br>
        <p>第<span>{{currentPage}}</span>页 / 共{{totalPage}}页</p>
    </div>

</div>
</body>
</html>