<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" type="text/css" href="../page/css/courseinfo.css">

    <title>course information</title>
</head>


<div ng-controller="courseinfoCtrl" ng-init="initCourseInfo()" style="position:relative;top: 80px;">
    <div>
        <!--课程图片-->
        <div class="m-top f-cb f-pr f-f0">
            <div class="g-flow">
                <div id="j-breadcrumb">
                </div>
                <div class="g-sd1 video-intro">
                    <div id="j-courseImg" class="m-recimg canlick">
                        <video width="100%" height="100%" controls>
                            <source src="{{lesson.videoLink}}" type="video/*">
                        </video>
                    </div>
                </div>
                <div class="g-mn1 course-enroll-info-wrapper">
                    <div class="title-wrapper">
                        <div class="f-cb f-pr">
                            <div class="f-fself course-title-wrapper">
                                <span class="course-title f-ib f-vam">{{lesson.lessonName}}</span>
                                <span id="j-teacherAssistMark" class="f-fcf f-f0 taMark" style="display:none;"></span>
                            </div>
                            <div class="f-fr f-f0 f-fs1 course-share f-pa" id="j-coushare">
                                <span class="f-ib f-vam" style="color: #faebd7;">分享</span>
                                <div class="u-share f-cb">
                                    <i class="fa fa-weibo"style="color:rgba(255,102,21,0.61)" ng-click="shareToSinaWB(event)"></i>

                                    <i class="fa fa-qq" style="color:rgba(236,255,103,0.66)" ng-click="shareToQzone(event)"></i>

<!--                                    <i class="fa fa-wechat"style="color:rgba(255,130,159,0.66)"></i>-->



                                </div>
                            </div>
                        </div>
                        <div id="course-enroll-info">
                            <div class="course-enroll-info">
                                <div class="course-enroll-info_course-info">
                                    <div class="course-enroll-info_course-info_term-select">
                                        <!--Regular if16-->
                                        <div class="ux-dropdown course-enroll-info_course-info_term-select_dropdown">
                                            <!--inlcude-->
                                            <!--Regular if23-->
                                        </div>

                                    </div>

                                    <div class="course-enroll-info_course-info_term-info">
                                        <div class="star">
                                            <span>课程星级: </span>
                                        </div>
                                            <span data-class="star"><i class="fa fa-star"></i></span>
                                        </div>

                                        <div  ng-if="judge()" class="star">

                                            <span data-class="star"><i class="fa fa-star"></i></span>
                                        </div>
                                        <div ng-if="judge2()" class="star">

                                            <span data-class="star-half-o"><i class="fa fa-star-half-o"></i></span>
                                        </div>

                                        <br>
                                        <div class="course-enroll-info_course-info_term-info_term-time" style="color: #666666;">
                                            <span>开课时间：</span>
                                            <span>{{lesson.startTime}} ~ {{lesson.endTime}}</span>
                                        </div>
                                        <br><br>
                                        <div class="course-enroll-info_course-info_term-workload">
                                            <span>学&nbsp;&nbsp;分：</span>
                                            <span>{{lesson.credit}}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="course-enroll-info_course-enroll">
                                    <div class="course-enroll-info_course-enroll_price-enroll">

                                        <span class="course-enroll-info_course-enroll_price-enroll_enroll-count">已有8202人参加&nbsp;&nbsp;| <a ng-click="goSchool2()">{{lesson.schoolName}}</a></span>
                                    </div>

                                    <div class="course-enroll-info_course-enroll_buttons">
                                        <div ng-click="joinCourse()"  class="course-enroll-info_course-enroll_buttons_enroll-btn">
                                    <span class="ux-btn  ux-btn- ux-btn-w220 ">立即参加</span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--课程图片-->
    <!--为您推荐-->
    <div style="position: absolute;right: 100px;top: 500px;width: 200px;">
        <div class="u-hot-course-title">为您推荐</div>
        <ul class="m-hot-course-box">

            <li class="u-hot-course f-cb">
                <div class="f-fl">
                    <a target="_blank" href="#">
                        <img src="http://edu-image.nosdn.127.net/5B8826377EE623C7B6328E8F8B8D2871.png?imageView&amp;thumbnail=510y288&amp;quality=100" width="130" height="80">
                    </a>
                </div>
                <div class="f-fl" style="float: right;">
                    <div class="title f-f0"><a target="_blank" href="#">Python语言程序设计</a></div>
                </div>
            </li>

        </ul>

    </div>
    <!--为您推荐-->
        <!--课程信息-->　
        <div class="g-flow">
            <div class="b-40"></div>
            <div class="g-wrap f-cb">
                <div class="g-mn2">
                    <ul class="nav nav-tabs primary">
                        <li class="active">
                            <a ng-click="jump(1)" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-home"></i> 课程详情
                            </a>
                        </li>
                        <li class="">
                            <a ng-click="jump(2)" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-weixin"></i> 评论区
                            </a>
                        </li>

                    </ul>


                    <div class="tab-content primary">

                        <div class="tab-pane fade active in" id="home-1" ng-if="CoursePage()">

                            <div>
                                <span data-class="graduation-cap"><i class="fa fa-mortar-board"></i><span>授课学历</span></span>
                                <p>本科</p>
                            </div>
                            <div>
                                <span data-class="paper-plane-o"><i class="fa fa-paper-plane-o"></i><span>课程概述</span></span>
                                <p>{{lesson.lessonIntro}}</p>
                            </div>
                            <div>
                                <div class="g-sd2 m-sd2">
                                    <div class="m-sdCourse" id="j-sdCourse"></div>
                                    <div class="m-sdinfo" id="j-sdinfo">
                                        <div id="j-center" class="m-center f-dn"></div>
                                        <div class="f-bgw" id="j-teacher">
                                            <div class="m-teachers">


                                                <!--Regular if41-->
                                                <div class="m-teachers_teacher-list">
                                                    <span data-class="user"><i class="fa fa-user"></i><span>{{teacherNum}}位授课老师</span></span>

                                                    <div id="imgg"  >

                                                        <div ng-repeat="x in teachers" id="img1">
                                                            <img class="f-fl" src="{{x.imgLink}}" width="75" height="75" ng-click="jumpT(x)">
                                                            <p>{{x.teacherName}}</p>
                                                            <p>{{x.schoolName}}</p>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="" id="profile-1" ng-if="CommentPage()">
                            <div class="uprofile-content">
<!--                                <div class="enter_post col-md-12 col-sm-12 col-xs-12">-->

<!--                                <div class="form-group">-->
<!--                                    <div class="controls">-->
<!--                                        <textarea class="form-control autogrow" id="field-7" placeholder="What's on your mind?" style="overflow: hidden; overflow-wrap: break-word; height: 70px;"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="enter_post_btns col-md-12 col-sm-12 col-xs-12">-->
<!--                                    <a href="#" class="btn btn-md pull-right btn-primary">Post</a>-->
<!--                                    <a href="#" class="btn btn-md pull-right btn-link"><i class="fa fa-image"></i></a>-->
<!--                                    <a href="#" class="btn btn-md pull-right btn-link"><i class="fa fa-map-marker"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->

                                <div class="clearfix"></div>






                                <div ng-repeat="x in sl"  class="uprofile_wall_posts col-md-12 col-sm-12 col-xs-12">
                                    <br>
                                    <div class="pic-wrapper col-md-1 col-sm-1 col-xs-2 text-center">
                                        <img src="../img/bl.jpg" class="" alt="">
                                    </div>
                                    <div class="info-wrapper col-md-11 col-sm-11 col-xs-10">
                                        <div class="username">
                                            <span class="bold">{{nickName}}</span>
                                        </div>
                                        <div class="info text-muted">
                                           {{x.evaluation}}
                                        </div>
                                        <div class="info-details">
                                            <ul class="list-unstyled list-inline">
                                                <li><a  class="text-muted">{{x.evaTime}}</a></li>
                                                <li><a  class="text-muted"><i class="fa fa-comment" style="color: #5bc0de"></i> 584</a></li>
                                                <li><a class="text-orange"><i class="fa fa-heart"style="color: red"></i> 12k</a></li>
                                                <li><a  class="text-info"><i class="fa fa-reply"style="color: #5bc0de"></i> Reply</a></li>
                                                <li><a  class="text-warning"><i class="fa fa-star"style="color: #5bc0de"></i> Favourite</a></li>
                                                <li><a  class="text-muted">More</a></li>
                                            </ul>
                                        </div>


<!--                                        <div class="comment">-->
<!--                                            <div class="pic-wrapper col-md-1 col-sm-1 col-xs-2 text-center">-->
<!--                                                <img data-src-retina="data/profile/avatar-3.png" data-src="data/profile/avatar-3.png" src="data/profile/avatar-3.png" alt="">-->
<!--                                            </div>-->
<!--&lt;!&ndash;                                            <div class="info-wrapper col-md-11 col-sm-11 col-xs-10">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="username">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="bold">Fin</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="info text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Perfect info for the project. Great work :)&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="info-details">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <ul class="list-unstyled list-inline">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <li><a href="#" class="text-muted">10 Minutes ago</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <li><a href="#" class="text-orange"><i class="fa fa-heart-o"></i> Like</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <li><a href="#" class="text-muted">More</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                                            <div class="clearfix"></div>-->
<!--                                        </div>-->


<!--                                        <div class="comment">-->
<!--                                            <div class="pic-wrapper col-md-1 col-sm-1 col-xs-2 text-center">-->
<!--                                                <img data-src-retina="data/profile/avatar-4.png" data-src="data/profile/avatar-4.png" src="data/profile/avatar-4.png" alt="">-->
<!--                                            </div>-->
<!--&lt;!&ndash;                                            <div class="info-wrapper col-md-11 col-sm-11 col-xs-10">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="username">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="bold">Arun</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="info text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Keep it up. Much appreciated effort.&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="info-details">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <ul class="list-unstyled list-inline">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <li><a href="#" class="text-muted">8 Minutes ago</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <li><a href="#" class="text-orange"><i class="fa fa-heart"></i> Liked</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <li><a href="#" class="text-muted">More</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                                            <div class="clearfix"></div>-->
<!--                                        </div>-->

<!--                                        <div class="comment comment-input">-->

<!--                                            <div class="pic-wrapper col-md-1 col-sm-1 col-xs-2 text-center">-->
<!--                                                <img data-src-retina="data/profile/profile.png" data-src="data/profile/profile.png" src="data/profile/profile.png" alt="">-->
<!--                                            </div>-->
<!--                                            <div class="info-wrapper col-md-11 col-sm-11 col-xs-10">-->
<!--                                                <div class="input-group primary  col-md-6">-->
<!--                                                    <input type="text" class="form-control" placeholder="Post a comment">-->
<!--                                                    <span class="input-group-addon">-->
<!--                                                                    <i class="fa fa-rocket"></i>-->
<!--                                                                </span>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>

                                    </div>

                                </div>





                            </div>
                        </div>

                    </div>
                </div>

                        <div class="clearfix"><br></div>
                </div>
            </div>
<!--        </div>-->
    <!--课程信息-->
    </div>
</div>

</body>
</html>