<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../page/css/findpwd.css">
    <title>Title</title>
</head>
<body>
<div ng-controller="findpwdCtrl" ng-init="initFindpwd()">
<div id="app" class="g-bd f-cf">
    <div class="u-op ">
    <!--Regular if65-->
    <!--Regular if1-->
    <div ng-if="code_page_1()">
    <div class="m-title">找回密码</div>
    <!--Regular if52-->
    <div class="m-op-box">
        <div class="m-vfAccount m-center">
            <div class="u-tip">请输入要重置密码的手机号</div>
            <!--inlcude-->
            <div class="w-ipt">
                <div class="m-suggest" style="z-index: 89;">
                    <div class="u-ipt ">
                        <div class="ipt_wrap">
                            <input type="text" class="ipt_input ipt_input_large ipt_input-success" id="p_number" placeholder="手机号" autocomplete="off" spellcheck="false">

                            <!--Regular if53-->
                            <div class="ipt_extend">
                                <!--Regular if54-->
                                <i class="i-icon i-icon-delete" style="display: none;">

                                </i></div></div>
                        <!--inlcude-->
                        <div class="ipt_tip ipt_tip-success"></div>
                    </div>
                    <label class="control-label">验证码 </label>
                    <div class="ipt_wrap">
                        <input class="short" type="text" placeholder="请输入验证码" autocomplete="off" id="verify_code_" maxlength="4">
                        <button class="verify_btn_" id="verify_code_btn">获取验证码</button>
                    </div>
                    <!--Regular if55-->
                    <!--Regular if56-->
                </div>
            </div>


            <!--Regular if57-->

            <div class="w-btn">
                <div class="u-btn ">
                    <button ng-click="verify_resetPwd(2)" class="u-bigBtn">下一步</button>
                    <!--Regular if59-->
                </div>
                <!--Regular if60-->
                <!--Regular if61-->
                <!--Regular if62-->
            </div>
        </div>
    </div>
</div>
</div>
<div ng-if="code_page_2()">
        <div id="app" class="g-bd-1 f-cf">
            <div class="u-op ">
    <div class="m-title">找回密码</div>
    <!--Regular if52-->
    <div class="m-op-box">
        <div class="m-vfAccount m-center">
            <div class="u-tip">请输入新密码</div>
            <!--inlcude-->
            <div class="w-ipt">
                <div class="m-suggest" style="z-index: 89;">
                    <div class="u-ipt ">
                        <div class="ipt_wrap">
                            <input type="password" class="ipt_input ipt_input_large ipt_input-success" id="new_pwd_1" placeholder="密码区分大小写" autocomplete="off" spellcheck="false">

                            <!--Regular if53-->
                            <div class="ipt_extend">
                                <!--Regular if54-->
                                <i class="i-icon i-icon-delete" style="display: none;">

                                </i>
                            </div>
                        </div>
                        <!--inlcude-->
                        <div class="ipt_tip ipt_tip-success"></div>
                    </div>
                </div>
            </div>

            <div class="u-tip">请再次输入新密码</div>
            <!--inlcude-->
            <div class="w-ipt">
                <div class="m-suggest" style="z-index: 89;">
                    <div class="u-ipt ">
                        <div class="ipt_wrap">
                            <input type="password" class="ipt_input ipt_input_large ipt_input-success" id="new_pwd_2" placeholder="请保证两次输入一致" autocomplete="off" spellcheck="false">

                            <!--Regular if53-->
                            <div class="ipt_extend">
                                <!--Regular if54-->
                                <i class="i-icon i-icon-delete" style="display: none;">

                                </i>
                            </div>
                        </div>
                        <!--inlcude-->
                        <div class="ipt_tip ipt_tip-success"></div>
                    </div>
                </div>
            </div>


            <!--Regular if57-->

            <div class="w-btn">
                <div class="u-btn ">
                    <button ng-click="reset_pwd()" class="u-bigBtn">下一步</button>
                    <!--Regular if59-->
                </div>
                <!--Regular if60-->
                <!--Regular if61-->
                <!--Regular if62-->
            </div>
        </div>
    </div>
            </div>
    </div>
</div>
</div>

    <!--Regular if4-->
</div>


</div>
</body>
</html>