<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>LC平台——最受学生欢迎的课程管理平台!</title>
    <link rel="stylesheet" type="text/css" href="../page/css/main.css">
    <title>Title</title>

</head>
<body>
<div ng-controller="mainCtrl" ng-init="initMain()">

    <!--轮播图-->
    <div class="row">
        <div class="col-md-12">
            <div id="carousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../img/carousel3.jpg" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="../img/carousel1.jpg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="../img/carousel2.jpg" alt="Third slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev" id="left">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next" id="right">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <!--/轮播图-->
    <br>

    <!--推荐课程-->
    <div class="jk-uptodate">
        <div class="img" style="width: 100%;text-align: center; margin-bottom: 20px">
            <img src="../img/tj-course.png" style="display: inline-block;vertical-align: top; min-width: 235px">
        </div>

        <ul style="width: 1070px">
            <li ng-repeat="x in excellentLesson" class="uptodate">
                <a ng-click="goDetail(x)">
                    <div class="uptodate-img">
                        <img src="{{x.imgLink}}" alt="">
                    </div>
                    <p class="uptodate-title">{{x.lessonName}}</p>
                    <p class="uptodate-info">
                        {{x.subject}}
                        <span>|</span>{{x.schoolName}}

                    </p>
                </a>
            </li>

        </ul>
    </div>
    <!--/推荐课程-->


    <!--热门课程-->
    <div class="jk-uptodate">
        <div class="img" style="width: 100%;text-align: center; margin-bottom: 20px">
            <img src="../img/hot-course.png" style="display: inline-block;vertical-align: top;min-width: 235px">
        </div>

        <ul style="width: 1070px">
            <li ng-repeat="x in hotLesson" class="uptodate">
                <a ng-click="goDetail(x)">
                    <div class="uptodate-img">
                        <img src="{{x.imgLink}}" alt="">
                    </div>
                    <p class="uptodate-title">{{x.lessonName}}</p>
                    <p class="uptodate-info">
                        {{x.subject}}
                        <span>|</span>{{x.schoolName}}

                    </p>
                </a>
            </li>

        </ul>
    </div>
    <br>
    <!--热门课程-->


</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>