<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body >
<!--    <div id="g-container" ng-controller="teacherCtrl" ng-init="initTeacher()">-->
<!--        <div id="g-body">-->
<!--            &lt;!&ndash;网页头部&ndash;&gt;-->
<!--            <div class="g-wrap m-unibg">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="g-doc f-pr" style="margin-left: 800px">-->
<!--                            <img class="avatar" id="" src="http://n.sinaimg.cn/front/154/w600h354/20190317/yhXC-hukwxnu7889748.jpg" width="200" height="150" alt="武汉大学">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-8">-->
<!--                        <div class="g-doc" style="position: absolute;margin-top: 20px;right: 230px;">-->
<!--                            <div class="g-mn1c m-cnt">-->

<!--                                <h1>{{teacher.teacherName}}</h1>-->
<!--                                <p class="f-f1 f-fc6">{{teacher.teacherIntro}}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<table style="width: 100%;margin-top: 80px;">
    <tr>
        <td style="height: 300px; background-color: #6ba5954f;"></td>
    </tr>
</table>
<div class="head" >
<img  style="border-radius: 100%;    border-radius: 100%;
    margin-top: -350px;
    margin-left: 250px;"   width="170px" src="../img/logo.jpg">
<p style="    margin-top: -251px;
color: #eeb5b5;
    margin-left: 550px;
    font-size: 60px;">蔡徐坤</p>
    <p style="    margin-left: 550px;
    margin-top: 75px;
    color: #eeb5b5;
    font-size: 20px;">我是出道时长两年半的个人偶像练习生，爱好唱跳rap和篮球</p>
</div>

        <!--显示课程-->

        <div class="container2">
            <p class="text-center" style="margin-left: 450px;
    font-size: 30px;
    border-radius: 100%;
    width: 200px;
    background-color: #767fa252;
    margin-top: 60px;
    color: #a5df9bcf;">所授课程</p>
        </div>

        <!--教师所授课程课程-->
        <div class="jk-uptodate">
            <ul style="width: 1070px">
                <li ng-repeat="x in selectTLesson" class="uptodate">
                    <a ng-click="goDetail_course(x)">
                        <div class="uptodate-img">
                            <img src="{{x.imgLink}}" alt="">
                        </div>
                        <p class="uptodate-title">{{x.lessonName}}</p>
                        <p class="uptodate-info">
                            {{x.subject}}
                            <span>|</span>{{x.schoolName}}

                        </p>
                    </a>
                </li>

            </ul>
        </div>



    </div>


    <!--<div class="jk-uptodate">-->
        <!--<ul style="width: 1070px">-->
            <!--<li ng-repeat="x in hotLesson" class="uptodate">-->
                <!--<a ng-click="goDetail(x)">-->
                    <!--<div class="uptodate-img">-->
                        <!--<img src="{{x.imgLink}}" alt="">-->
                    <!--</div>-->
                    <!--<p class="uptodate-title">{{x.lessonName}}</p>-->
                    <!--<p class="uptodate-info">-->
                        <!--{{x.subject}}-->
                        <!--<span>|</span>{{x.schoolName}}-->

                    <!--</p>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</body>
</html>