<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div ng-controller="teacherCtrl" ng-init="initTeacher()">


    <img src="{{teacher.imgLink}}">
    <p>{{teacher.teacherName}}</p>
    <p>{{teacher.teacherIntro}}</p>


    <!--<div class="jk-uptodate">-->
        <!--<ul style="width: 1070px">-->
            <!--<li ng-repeat="x in hotLesson" class="uptodate">-->
                <!--<a ng-click="goDetail(x)">-->
                    <!--<div class="uptodate-img">-->
                        <!--<img src="{{x.imgLink}}" alt="">-->
                    <!--</div>-->
                    <!--<p class="uptodate-title">{{x.lessonName}}</p>-->
                    <!--<p class="uptodate-info">-->
                        <!--{{x.subject}}-->
                        <!--<span>|</span>{{x.schoolName}}-->

                    <!--</p>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</div>

</body>
</html>